@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding-top: 60px;
  padding-bottom: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
  clear: both;
}

.separator-x {
	padding-left: 10px;
	padding-right: 10px;
}

#payline-selectors span{
	padding-right: 20px;
}

#active-row-selectors span{
	padding-right: 20px;
}

#player-options {
	text-align: right;
	float: left;
}

.hidden {
	display: none;
}

.symbolContainer {
  float: left;
  padding: 40px;
}

.symbol {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.multiplierField {
  display: block;
  margin: 0 auto;
  width: 60px;
}

form input {
	margin-left: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  clear: both;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
	padding-top: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}