<% content_for :js do %>
	<script>

		var numRows;
		var rowSelector;
		var singleRowSelector;
		var anyRowSelector;
		var activeRows;
		var numRows;

		$(document).ready(onLoad);

		function onLoad() {

			rowSelector = document.getElementById("rows");
			anyRowSelector = document.getElementById("payline_type_any");
			singleRowSelector = document.getElementById("payline_type_single");
			activeRows = document.getElementById("active-row-selectors");

			anyRowSelector.onclick = updateActiveRows;
			singleRowSelector.onclick = updateActiveRows;
			rowSelector.onchange = updateCheckboxes;

			updateActiveRows();
		}

		function updateActiveRows() {
			if(singleRowSelector.checked) {
				activeRows.style.display = "inline";

				if(numRows != document.getElementById("rows").value) {
					updateCheckboxes();
				}
			}
			else {
				activeRows.style.display = "none";
			}
		}

		function updateCheckboxes() {
			numRows = rowSelector.value;
			$('#active-row-selectors').empty();
			$('#active-row-selectors').append("<span><label for='active_rows:'>Active rows:</label></span>");

			var array = <%= @data["game"]["payline"]["rows"] %>
			console.log(array)
			for(var i=0;i < numRows;++i) {

				var checked = array.indexOf(i) > -1 ? 'checked' : '';
				var htmlString = '<span><input type="checkbox" name="payline_rows[]" id="payline_rows_' + i + '" value='+i+' ' + checked + '/><label for="payline_rows_">' + (i + 1) + '</label></span>';
				console.log(htmlString);
				$('#active-row-selectors').append(htmlString);
			}
		}

	</script>
<% end %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag do %>
			<h3>Playfield</h3>
			<hr/>
			<%= label_tag(:cols, "Columns:") %>
			<%= select_tag(:cols, options_for_select([['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8]], @data["game"]["playfield"]["columns"])) %>

			<span class="separator-x">x</span>

			<%= label_tag(:rows, "Rows:") %>
			<%= select_tag(:rows, options_for_select([['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8]], @data["game"]["playfield"]["rows"])) %>

			<h3>Paylines</h3>
			<hr/>

			<div id="payline-selectors">
				<span>
					<%= label_tag(:payline_type, "Any row:") %>
					<%= radio_button_tag(:payline_type, "any", @data["game"]["payline"]["type"] == "any") %>
				</span>
				<span>
					<%= label_tag(:payline_type, "Single row:") %>
					<%= radio_button_tag(:payline_type, "single", @data["game"]["payline"]["type"] == "single") %>
				</span>
			</div>

			<div id="active-row-selectors">
			</div>
			
			<h3>Player</h3>
			<hr/>

			<div id="player-options">
				<%= label_tag(:start_balance,  "Starting balance:") %>
				<%= number_field_tag(:start_balance, @data["game"]["player"]["startBalance"], min: 0, step: 100) %><br/>

				<%= label_tag(:wager,  "Wager:") %>
				<%= number_field_tag(:wager, @data["game"]["player"]["wager"], min: 0, step: 5) %>
			</div>

			<h3>Symbols</h3>
			<hr/>

			<%= label_tag(:symbol_count, "Number of symbols:") %>
			<%= select_tag(:symbol_count, options_for_select([['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]], @data["game"]["symbols"]["count"])) %><br/>


			<%= label_tag(:symbol_count, "Multiplier Percent:") %><br/>

			<% image = MiniMagick::Image.open(spritesheet_url) %>
			<% images = @data["game"]["symbols"]["info"] %>
			
			<%  images.each_with_index do |info, i| %>
				<% scale = 100.0 / info["width"] %>
				<div class="symbolContainer">
					<div class="symbol" style = "background-image: url(<%= spritesheet_path %>);background-size: <%= image.width * scale %>%; <%= image.height * scale %>%;background-position: -<%= info['x'] * scale %>px -<%= info['y'] * scale %>px;"></div>
					<%= number_field_tag("multiplier[]", info["multiplier"], min: 10, class: "multiplierField center") %>
				</div>

			<% end %>

			<div class="center clear">
				<%= submit_tag("Save changes", class: 'btn btn-primary') %>
			</div>
		<% end %>
	</div>
</div>