<!DOCTYPE html>
<html>
  <head>
    <title>Configurator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <% flash.each do |msg_type, msg| %>
        <%= content_tag(:div, sanitize(msg), {class: "alert alert-#{msg_type} center"}) %>
    <% end %>
    <%= yield %>
  </body>
</html>
